@import "./media.css";
@import "./reset.css";
@import "./font.css";

/* Variabls */

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
:root {
  --dark-grey: #828282;
  --light-grey: #F6F6F6;
  --dark-black: #181818;
  --basic-black: #000000;
}
.conteiner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: "Ubuntu Mono";
}

img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.head {
  font-family: "Ubuntu Mono";
  font-weight: 700;
  font-size: 48px;
  line-height: 45px;
  color: var(--basic-black);
  text-align: center;
}
.head-hidden {
  visibility: hidden;
}
.text {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: var(--dark-black);
}
.button {
  font-family: "Rubik Mono", monospace;
  font-size: 16px;
  padding: 12px 43px;
  text-align: center;
  text-decoration: none;
  background-color: var(--basic-black);
  color: #F6F6F6;
  border-radius: 60px; 
}

/* Navigation */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-navigation {
  width: 960px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;

  /* border: 2px solid saddlebrown; */
}
.nav {
  width: calc(100%);
  display: flex;

}
.logo {
  width: calc(100%/3);
}
.menu-list {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
}
.menu-list {
  display: flex;
}

.link-item {
  padding: 15px 30px;
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: var(--dark-grey);
}
.menu-item:last-child .link-item {
  padding-right: 0;
}
.link-item:hover {
  color: #000000;
  cursor: pointer;
  transition: color ease-in .4s;
}
.botton-menu-open {
  display: block;
}
.hidden {
  display: none;
}

/* Section 1 */

.wrap-self-info {
  margin: 0 auto;
  position: relative;
}
.wrap-about-me {
  width: 960px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;

  /* border: 1px solid green; */
}
.wrap-info {
  display: flex;
  justify-content: space-between;
  width: 639px;
  height: 169px;

  /* border: 1px solid red; */
}
.fio-info {
  font-family: inherit;
  font-size: 48px;
  font-weight: 700;
  text-align: start;
  max-width: 191px;
  height: 110px;
  column-gap: 30px;
  padding: 50px 0 35px 20px;
  line-height: 1;

  /* border: 1px solid red; */
}
.about-me {
  width: 300px;
  height: 59px;
  margin: 0;
  padding: 55px 0 80px 0;
  font-size: 24px;
  line-height: 1;
}
.person-img {
  display: inline-block;
  width: 960px;
  height: 405px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  bottom: 0;
}

/* Section 2 */

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background: #F6F6F6;
  margin-top: 60px; 
}
.wrap-information {
  display: flex;
  flex-direction: column;
  padding: 0;

  /* border: 1px solid red; */
}
.text-info {
  padding: 0;
  text-align: center;
  line-height: 1;
  width: 798px;
  height: 199px;
}

/* Section 3 */

.skills {
  width: 960px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.head-skill {
  padding: 0 10px;
  margin-bottom: 50px;
}
.text-technology {
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
}
.skills-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 80px;

  /* border: 1px solid red; */
}
.skills-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.skills-item-eng {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-style {
  position: relative;
  font-family: "Rubik Mono", monospace;
  font-size: 22px;
  line-height: 17px;
  color: var(--basic-black);
  margin-top: 20px;
}
.skills-style::after {
  content: "";
  position: absolute;
  display: block;
  top: 30px;
  left: 0;
  width: 23px;
  height: 23px;
  background-color: #000000;
  background: url(../img/Star.svg) 0 0 no-repeat;
}

/* Section 4 */

.portfolio {
  width: 100%;
  background-color: var(--light-grey);
}
.wrap-portfolio {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.head-rectangle {
  padding-top: 90px;
  margin-bottom: 35px;
}
.content-1 {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.text-underline1 {
  display: flex;
  width: 520px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid var(--basic-black);
  margin-top: 25px;
  margin-bottom: 25px;
}
.text-underline2 {
  display: flex;
  width: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid var(--basic-black);
  margin-bottom: 90px;
}
.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */

.contacts {
  width: 100%;
  padding: 80px 0;
  text-align: center;

  /* border: 2px solid green; */
}
.wrap-contacts {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  /* border: 2px solid green; */
}
.head-rectangle::after {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  right: 0;
  top: 0;
  background: url(../img/Rectangle\ 2.svg) 0 0 no-repeat;
}
.head-rectangle {
  margin: 0 0 50px 0;
  padding: 0;
  position: relative;

  /* border: 1px solid red; */
}
.head-rectangle::before {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  left: 0;
  top: 0;
  background: url(../img/Rectangle\ 2.svg) 0 0 no-repeat;
}
.text-contacts {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 24px;
  line-height: 1;
  margin: 0 0 60px 0;

  /* border: 2px solid green; */
}
.text-contacts p + p {
  margin-top: 1em;
}
.button-feedback {
  display: inline-block;
  margin: 0 0 60px 0;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.button-feedback:hover, .button-feedback:focus {
  background-color: #2a2727; 
}
.button-feedback:active {
  position: relative;
  top: 1px;
  background-color: #221f1f;
}
.social-list {
  margin: 0 0 50px 0;
}
.social-text {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: var(--dark-grey);
}

/* Modal */

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
  z-index: 2;
}
.form-login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
} 

/* Form-modal  */

.form-login {
  padding: 50px 50px;
  width: 850px;
  background-color: #fff;
}

.modal-text {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 24px;
  font-weight: 700;
  width: 400px;
  text-align: center;
  margin-bottom: 40px;
}
/* .modal-hidden {
  display: none;
} */

.login-name label::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100px;
  height: 2px;
  border-bottom: 2px solid #000000;
}

.btn-form {
  display: flex;
}
.modal-text-button {
  width: 160px;
  text-align: center;
  margin: 15px 30px;
}
.button-submit {
 
}

/* Modal Lost */
/* 
.modal-hidden {
  display: none;
}

.modal-lost.modal-show {
  display: block;
  top: auto;
  bottom: 120px;
  max-width: 350px;
  max-height: 359px;
  padding: 30px 60px;
}
.form-send-mail {
  width: 100%;
max-width: 350px;
}
.wrap-send-mail {
  display: flex;
  flex-direction: column;
  width: 280px;
padding: 0 20px;
box-sizing: border-box;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
}
.wrap-send-mail div {
  font-size: 18px;
  padding: 15px 0;
}
.button-send-mail {
box-sizing: border-box;
width: 100%;
}
.wrap-send-mail label, .wrap-send-mail input {
width: 100%;
box-sizing: border-box;
}
.wrap-send-mail label {
  display: inline-block;
font-weight: bold;
  text-align: left;
}
.wrap-send-mail input {
  font-family: "Cuprum", sans-serif;
padding: 10px 15px;
margin-top: 5px;
  outline: none;
  color: var(--bright-red);
}
.wrap-send-mail .button-send-mail {
  margin-bottom: 20px;
  width: 50%; 
  padding: 11px;
  margin-left: auto;
margin-top: 10px;
background: none;
border: none;
text-transform: uppercase;
color: #fff;
font-weight: bold;
background-color: var(--bright-red);
cursor: pointer;
border-radius: 3px;
}
.wrap-send-mail .button-send-mail:hover {
background-color: #c62e38;
}
.wrap-send-mail .button-send-mail:focus {
background-color: #b51f29;
} */


/* 1. Добавить классы в p (text-info) стилизовать параграфы "обо мне"  */