@import "./media.css";
@import "./reset.css";
@import "./font.css";

/* Variabls */

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
:root {
  --dark-grey: #828282;
  --light-grey: #F6F6F6;
  --dark-black: #181818;
  --basic-black: #000000;
}
.conteiner {
  width: 100%;
  margin: 0 auto;
  height: 0 auto;
  padding: 0 20px;
  font-family: "Ubuntu Mono";
}

img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.head {
  font-family: "Ubuntu Mono";
  font-weight: 700;
  font-size: 48px;
  line-height: 45px;
  color: var(--basic-black);
  text-align: center;
}
.head-hidden {
  visibility: hidden;
}
.text {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: var(--dark-black);
}
.button {
  font-family: "Rubik Mono", monospace;
  font-size: 14px;
  padding: 12px 43px;
  text-align: center;
  text-decoration: none;
  background-color: var(--basic-black);
  color: #F6F6F6;
  border: 2px solid var(--basic-black);
  border-radius: 60px;
}
.social-text {
  font-family: "Ubuntu Mono", monospace;
  font-size: 12px;
  line-height: 11px;
  color: var(--dark-grey);
}

/* Navigation */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-navigation {
  width: 960px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;

  /* border: 2px solid saddlebrown; */
}
.nav {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  width: calc(100%/3);
}
.menu-list {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
}
.menu-list {
  display: flex;
}

.link-item {
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: var(--dark-grey);
}
.link-item:hover {
  color: #000000;
  cursor: pointer;
  transition: color ease-in .4s;
}
.botton-menu-open {
  display: block;
}
.hidden {
  display: none;
}

/* Section 1 */

.wrap-self-info {
  margin: 0 auto;
  position: relative;
}
.wrap-about-me {
  width: 960px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;

  border: 1px solid green;
}
.wrap-info {
  display: flex;
  width: 639px;
  height: 169px;

  /* border: 1px solid red; */
}
.fio-info {
  font-family: inherit;
  font-size: 48px;
  font-weight: 700;
  text-align: start;
  width: 191px;
  height: 110px;
  margin: 0 100px 0 0;
  padding: 50px 0 35px 20px;

  /* border: 1px solid red; */
}
.about-me {
  width: 300px;
  height: 59px;
  margin: 0;
  padding: 55px 0 80px 0;
  font-size: 24px;
}
.person-img {
  display: inline-block;
  width: 960px;
  height: 405px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  bottom: 0;
}

/* Section 2 */

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background: #F6F6F6;
  margin-top: 60px; 
}
.wrap-information {
  display: flex;
  flex-direction: column;
  padding: 0;

  /* border: 1px solid red; */
}
.head-rectangle::after {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  left: -40;
  top: 100;
  background: url(../img/Rectangle\ 2.svg) 0 0 no-repeat;
}
.head-rectangle {
  margin: 0;
  padding: 0;
  position: relative;

  /* border: 1px solid red; */
}
.head-rectangle::before {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  left: -100;
  top: 10;
  background: url(../img/Rectangle\ 2.svg) 0 0 no-repeat;
}
.text-info {
  text-align: center;
  padding: 0;
  width: 798px;
  height: 199px;
}

/* Section 3 */

.skills {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-top: 60px;
}
.head-skill {
  margin: 0;
  padding: 0 10px;
  margin-bottom: 50px;
}
.text-technology {
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
}
.skills-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 80px;

  /* border: 1px solid red; */
}
.skills-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.skills-item-eng {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-skills {
  width: 100%;
}
.skills-style {
  font-family: "Rubik Mono", monospace;
  font-size: 22px;
  line-height: 17px;
  color: var(--basic-black);
}
.skills-style::after {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  left: -100;
  top: 10;
  background-color: #000000;
  background: url(../img/Star.svg) 0 0 no-repeat;
}

/* Section 4 */

.portfolio {
  width: 100%;
  background-color: var(--light-grey);
}
.wrap-portfolio {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.head-rectangle {
  padding-top: 90px;
  margin-bottom: 35px;
}
.content-1 {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.text-underline1 {
  display: flex;
  width: 520px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid var(--basic-black);
  margin-top: 25px;
  margin-bottom: 25px;
}
.text-underline2 {
  display: flex;
  width: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid var(--basic-black);
  margin-bottom: 90px;
}
.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */

.contacts {

}
.wrap-contacts {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* border: 2px solid green; */
}
.text-contacts {
  text-align: center;
  margin-bottom: 53px;
}
.button-feedback {
  display: block;
}
.social-list {
  margin-top: 59px;
}
.social-text {
  text-align: center;
}